.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* menu */

.footerMenu ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  width: 100%;
}

.footerMenu li {
  /* float: left; */
  width: 50%;
  display: inline-block;
}

.footerMenu li div {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.footerMenu li div:hover:not(.active) {
  background-color: #ddd;
}

.footerMenu li div.active {
  color: white;
  background-color: #4CAF50;
}

.footerMenu {
  position: absolute;
  bottom: 0;
  z-index: 9;
  width: 100%;
}

h2, span, p {
  color: #ddd;
}

#Notification span {
  color: #93d395;
}

.notification_content {
  margin: 5%;
}

.navbar_button {
  width: 64px;
  height: 52px;
  max-height: 52px;
  min-height: 52px;
  background-size: 36px;
}

.navbar {
  height: 52px;
}

/* input, button{
 margin-left: 5%;
  margin-right: 5%;
} */

input {
  height: 23px;
  width: 70%;
  border-radius: 3px;
}

button {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 35px;
  border-radius: 5px;
}

.App-logo-cordova {
  height: 38vmin;
  pointer-events: none;
}